<html>
<head>
    <title>Evraz AI</title>
    <link rel="stylesheet" href="{{ url_for('static', type='text/css', filename='css/styles_main.css') }}">
</head>
<body>
<h1 class="title">Камеры</h1>
<div class="cam_place">
    <div class="cam">
        <img src="../static/images/example.jpg", class="img_cam safe">
        <div class="text_cam">Камера 1, зал 1</div>
    </div>
    <div class="cam">
        <img src="../static/images/example.jpg", class="img_cam dangerous">
        <div class="text_cam">Камера 2, зал 1</div>
    </div>
</div>
</body>
</html>