<html>
<head>
    <title>Evraz AI</title>
    <link rel="stylesheet" href="{{ url_for('static', type='text/css', filename='css/styles_main.css') }}">
</head>
<body>
<h1 class="title">Камеры</h1>
<div class="cam_place">
    {% for i in range(0,2) %}
        <div class="cam">
            <img src="{{ images_paths[0]['camera{}'.format(i + 1)] }}" , class="img_cam {{ image_classes[i] }}">
            <div class="text_cam">Камера {{ i }}, зал 1</div>
        </div>
    {% endfor %}
</div>
</body>
</html>